<section style="width: 90%;margin:auto">
    <nav class="navbar navbar-expand-lg navbar-light" style="padding:10px;background-color: transparent;">
       
        <a class="navbar-brand" href="#"><img src="../../assets/img/Logo.png" alt="" width="70px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto" id="menu">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mission<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login<span class="sr-only">(current)</span></a>
                </li>

            </ul>

        </div>
    </nav>
    <div class="row" style="padding-top: 5%;padding-bottom:12%">
        <div class="col-lg-5" style="padding-top: 10%;">
            <h1 style="font-size:45px">Start <font style="color:red">your journey</font> to Financial <font
                    style="color:#fecf3c">freedom</font>
            </h1>
            <h4>It is a platform build for aspirants, to find jobs based on the project you have completed in past.

            </h4>
            <button (click)="router2()"
                style="background-color: #4285f4;color:white;border:none;border-radius:20px;padding:10px">Register
                Now</button>
        </div>
        <div class="col-lg-7"><img src="../../assets/images/undraw_finance_0bdk.svg" style="opacity: 90%;" width="95%"
                alt=""></div>

    </div>
    <div style="text-align:center;margin-bottom:100px">
        <h1 style="font-size: 40px;">Services</h1>
        <h3>FinLit makes it easier for you to ...</h3>
        <br><br>
        <div class="row" style="   text-align: center;">
            <div class="col-lg-1"></div>

            <div class="col-lg" style="padding: 10px;text-align:center;justify-content:center">
                <div style="padding:10px;border-radius:10px;background-color:#f1f1f1;">
                    <div style="margin-left:40%;margin-top:-45px;background-color: #4285f4;border-radius:50%;width:64px;height:64px;text-align:center;justify-content:center;padding-top:20px"><i class="fa fa-bell" style="color:white;font-size:25px;"></i></div>
                    <h6 style="margin-top:30px;font-size: larger;">Get a Job
                    </h6>
                    <p style="font-weight: 300;letter-spacing:0.1em;opacity:90%;line-height:30px;">Getting a job is tough in this competitive world. We give a high preference to the projects
                        matching with the respective companies projects.</p>
                </div>
            </div>
            <div class="col-lg" style="padding: 10px;text-align:center;justify-content:center">
                <div style="padding:10px;border-radius:10px;background-color:#f1f1f1;">
                    <div style="margin-left:40%;margin-top:-45px;background-color: #4285f4;border-radius:50%;width:64px;height:64px;text-align:center;justify-content:center;padding-top:20px"><i class="fa fa-bell" style="color:white;font-size:25px;"></i></div>
                    <h6 style="margin-top:30px;font-size: larger;">Get a Job
                    </h6>
                    <p style="font-weight: 300;letter-spacing:0.1em;opacity:90%;line-height:30px;">Getting a job is tough in this competitive world. We give a high preference to the projects
                        matching with the respective companies projects.</p>
                </div>
            </div>
            <div class="col-lg" style="padding: 10px;text-align:center;justify-content:center">
                <div style="padding:10px;border-radius:10px;background-color:#f1f1f1;">
                    <div style="margin-left:40%;margin-top:-45px;background-color: #4285f4;border-radius:50%;width:64px;height:64px;text-align:center;justify-content:center;padding-top:20px"><i class="fa fa-bell" style="color:white;font-size:25px;"></i></div>
                    <h6 style="margin-top:30px;font-size: larger;">Get a Job
                    </h6>
                    <p style="font-weight: 300;letter-spacing:0.1em;opacity:90%;line-height:30px;">Getting a job is tough in this competitive world. We give a high preference to the projects
                        matching with the respective companies projects.</p>
                </div>
            </div>

            <div class="col-lg-1"></div>


        </div>
    </div>
    <section id="last">
        <div class="row">
            <div class="col-lg-7"><img width="92%" src="../../assets/images/undraw_success_factors_fay0.svg" alt=""></div>
            <div class="col-lg-5" style="padding-top: 10%;"><h1 style="font-size:45px">Maximize your chance of getting hired
            </h1><h4 style="font-size:20px;color:gray">Make your profile stand out by working on the project company is already working on.

            </h4></div>

        </div>

    </section>
    <section id="last">
        <div class="row">
            <div class="col-lg-5" style="padding-top: 10%;"><h1 style="font-size:45px">New to competitive hiring world?

            </h1><h4 style="font-size:20px;color:gray">Set a goal desiring to work in your dream company or startup. We will walk with you along your journey and help you in securing the place in your dream company.

            </h4></div>
            <div class="col-lg-7"><img width="92%" src="../../assets/images/undraw_printing_invoices_5r4r.svg" alt=""></div>

        </div>

    </section>
    
</section>
<section id="last" style="background-color:#f1f1f1;text-align:center;padding:10px">
    
    <h1 style="font-size: 40px;">Our mission</h1>

    <div class="row">
        <div class="col-lg-7"><img width="92%" src="../../assets/images/undraw_financial_data_es63.svg" alt=""></div>

        <div class="col-lg-5" style="padding-top: 10%;"><h4 style="font-weight:200;font-size:20px;color:gray">Our mission: <br> <br><i class="fa fa-check"></i>make people industry ready right from the start of their carrer.
           <br> <br><i class="fa fa-check"></i>make people industry ready right from the start of their carrer.



        </h4>
        <button (click)="router2()"
        style="background-color: #4285f4;color:white;border:none;border-radius:20px;padding:10px">Register
        Now</button></div>

    </div>

</section>
<section style="text-align:center;padding-top:20px">
    <div class="row" style="text-align:center ;">
<div class="col"></div><div class="col-8">
    <a href="" style="display: inline;">Privacy Policy</a>
    <a href="" style="display: inline;margin-left:10px">Feedback</a>

    <a href="" style="display: inline;margin-left:10px">Contact Us</a>
</div><div class="col"></div>

</div>
<h4 style="color:grey">Copyright ©2020 All rights reserved</h4>
    
</section>